html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
}

canvas{
    border:1px dotted darkblue;
    height: 100%;
}

.gamearea{
    height:50%;
    text-align:center;
}

.console {
    background: #303030;
    color: white;
    font-family: Courier New, Courier, monospace;
    overflow-y:auto;
    margin:0;
    height: 50%;    
}

.console>p {
    margin:0;
}